.s{
border:6px blue ridge;width: 100px;text-align: center;
background-color :pink;
}
.r{
border:6px blue ridge;width: 100px;text-align: center;
background-color :pink;
}
.m{
border:6px blue ridge;width: 100px;text-align: center;
background-color :pink;
}
.d{
border:6px blue ridge;width: 100px;text-align: center;
background-color :pink;
}
.cuerpo{
background-color :orange ;
}
